.padding-bot-30 {
  padding-bottom: 30px;
}
.padding-10 {
  padding: 10px;
}
.padding-50 {
  padding: 50px;
}
.background-dark {
  background-color: #666;
}
#navoption:hover {
  background-color: #111;
}
#contact:hover {
  color: white;
}
#section:hover, #header:hover {
  color: #B28A49;
}
